{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    
   </head>




 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a href="#" class="navbar-brand">SAGE</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
  <div class="col-sm-3">
      <!-- left -->
      <h3><i class="fa fa-users"></i> Bienvenido!</h3>
      <hr>
      
<!--       <ul class="nav nav-stacked">
        <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i> Modificar Perfil</a></li>
        <li><a href="javascript:;"><i class="fa fa-cc-visa"></i> Metodos de pago</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i> Reservas</a></li>
        
        
        <li><a href="javascript:;"><i class="fa fa-bus"></i> Estacionamientos</a></li>
        
      </ul> -->

         <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>
      <hr>
      
    </div><!-- /span-3 -->
    <div class="col-sm-9">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamiento</h3>  
            
       <hr>
      
     <!--/row-->
    <div class="col-md-8">
      
      <table class="table table-striped">
        <thead>
          
        </thead>
        <tbody>
			<tr><td><b><i class="fa fa-car"></i> Nombre Estacionamiento:</b></td></tr>
			<tr><td>{{estacionamiento.nombre}}</td></tr>

			<tr><td><b><i class="fa fa-user"></i> Nombre Propietario:</b></td></tr>
			<tr><td>{{estacionamiento.propietario}}</td></tr>

			<tr><td><b><i class="fa fa-home"></i> Direccion:</b></td></tr>
			<tr><td>{{estacionamiento.direccion}}</td></tr>

			{% if estacionamiento.telefono_2 %}
				<tr><td><b>Telefonos:</b></td></tr>
				<tr><td>{{estacionamiento.telefono_1}}</td></tr>
			{% endif %}

			{% if estacionamiento.telefono_2 %}
				<tr><td><b><i class="fa fa-phone"></i> Telefonos:</b></td></tr>
				<tr><td>{{estacionamiento.telefono_2}}</td></tr>
			{% endif %}

			 {% if estacionamiento.telefono_3 %}
				<tr><td><b><i class="fa fa-phone"></i> Telefonos:</b></td></tr>
				<tr><td>{{estacionamiento.telefono_3}}</td></tr>
			{% endif %}

			{% if estacionamiento.email_1 %}
				<tr><td><b><i class="fa fa-at"></i> Correo Electronico:</b></td></tr>
				<tr><td>{{estacionamiento.email_1}}</td></tr>
			{% endif %}

			{% if estacionamiento.email_2 %}
			<tr><td><b><i class="fa fa-at"></i> Correo Electronico:</b></td></tr>
			<tr><td>{{estacionamiento.email_2}}</td></tr>
			{% endif %}


			<tr><td><b><i class="fa fa-circle"></i> RIF:</b></td></tr>
			<tr><td>{{estacionamiento.rif}}</td></tr>
          
        </tbody>
      </table>
      
                    
      
      <!--tabs-->
      
      <!--/tabs-->
      
      <hr>
      
   

    
    </div></div><!--/col-span-9-->
    
  </div><!--/row-->
  <!-- /upper section -->
  
  <!-- lower section -->
  <!--/row-->
  
</div><!--/container-->
<!-- /Main -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <footer class="text-center">
      Paradigm Shift
    </footer>

<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->


        
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
        <script type="text/javascript">
        
        $(document).ready(function() {
        
            
        
        });
        
        </script>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40413119-1', 'bootply.com');
          ga('send', 'pageview');
        </script>
        
    
</body></html>
